@model IEnumerable<MakesCompaney>
@{
    ViewData["Title"] = "Makes";
}

<h2>Makes</h2>
<hr />
<a asp-action="Create" class="btn btn-primary"><i class="bi bi-plus"></i> Create Make</a>
<div class ="mt-4">
    @if (!Model.Any())
    {
       <div class="alert alert-dismissible alert-warning">
      <h4 class="alert-heading">Warning!</h4>
      <p class="mb-0"><i class="bi bi-exclamation-triangle"></i>  There Is Noo Makes Yet !</p>
        </div>
    }
    else
    {
        <div class="row">
             @foreach(var com in Model)
        {
            <div class="col-3 justify-content-between animate__animated  animate__fadeInUp ">
                <div class="card mb-3">
                    <div style="background-image:url(data:image\/*;base64,@(Convert.ToBase64String(com.Image)))" class="col-md-3 Image" ></div>
                <div class="card-body">
                    <h5 class="card-title m-2">@com.Name</h5>
                    <a asp-action="CompaneysModels"  asp-route-Id="@com.Id" class="btn btn-primary"> <i class="bi bi-arrow-up-left-square-fill"></i> See Models</a> 
                    <a asp-action="Edit" class="btn btn-secondary mr-4" asp-route-Id="@com.Id" > <i class="bi bi-pencil-square"></i> Edite</a>
                    <a href="javascript:;" class="btn btn-danger m-1 js-delete" data-id="@com.Id"><i class="bi bi-trash3"></i></a>
                </div>
                </div>
            </div>
            
        }
        </div>
       
    }
</div>

@section Scripts{
    <script>
       $(document).ready(
           function(){
               $('.js-delete').on('click',function(){
                   var btn = $(this);
                   bootbox.confirm({
                        title: "Delete Make Companey ?",
                        message: "Do you want to Delete This Companey ?",
                        buttons: {
                            cancel: {
                                label: '<i class="fa fa-times"></i> Cancel'
                            },
                            confirm: {
                                label: '<i class="fa fa-check"></i> Delete',
                                className : "btn btn-danger"
                             }
                            },
                            callback: function (result) {
                                 if(result){
                                     $.ajax({
                                         url:'/MakesCompaney/Delete/'+btn.data('id'),
                                         success:function(){
                                             btn.parents('.col-3').removeClass('animate__animated  animate__fadeInUp');
                                             btn.parents('.col-3').addClass('animate__animated animate__backOutDown');
                                             setTimeout(function(){
                                                 btn.parents('.col-3').remove();
                                             },1000);
                                             toastr.success('Companey Deleted Successfully !');
                                         },
                                         error : function(){
                                             toastr.error("Some Thing Went Wrong !");
                                         }
                                     });
                                 }
                            }
                    });
               });
           }
       );
    </script>
}